DATABASE_URL="postgresql://USER:PASSWORD@RAILWAY_POSTGRES_HOST:PORT/railway?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@RAILWAY_POSTGRES_HOST:PORT/railway?sslmode=require"
PORT=4000
NODE_ENV="production"
CORS_ORIGIN="https://your-domain.ro"