DATABASE_URL="postgresql://postgres:postgres@localhost:5432/timisoara_app?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/timisoara_app?schema=public"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
TRANSIT_ONLY_API="false"
ENABLE_SWAGGER="true"

